.tp-bannershadow {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
/********************************
	-	FULLSCREEN VIDEO	-
*********************************/
.caption.fullscreenvideo {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
.caption.fullscreenvideo iframe {
	width: 100% !important;
	height: 100% !important;
}
.tp-caption.fullscreenvideo {
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}
.tp-caption.fullscreenvideo iframe {
	width: 100% !important;
	height: 100% !important;
}
/************************
	-	NAVIGATION	-
*************************/

/** BULLETS **/
.tp-bullets {
	z-index: 99;
	position: absolute;
	bottom: 0px;
}
.tp-bullets.simplebullets.round .bullet {
	cursor: pointer;
	position: relative;
	background: #fff;
	width: 188px;
	height: 6px;
	float: left;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
}
/*************************************
	-	TP ARROWS 	-
**************************************/

.tp-leftarrow.large {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: #393939 url(../../images/images/slider-left-arrow.png) no-Repeat;
	width: 42px;
	height: 43px;
	margin-left: 0;
	margin-top: -21px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
}
.tp-rightarrow.large {
	z-index: 100;
	cursor: pointer;
	position: relative;
	background: #393939 url(../../images/images/slider-right-arrow.png) no-Repeat 0 0;
	width: 42px;
	height: 43px;
	margin-left: 0;
	margin-top: -21px;
	-webkit-transition: background 0.1s linear;
	-moz-transition: color, background 0.1s linear;
	-o-transition: color, background 0.1s linear;
	transition: color, background 0.1s linear;
}
/****************************************************************************************************
	-	TP THUMBS 	-
**************************************************************************************************/


.tp-bullets.tp-thumbs {
	z-index: 100;
	position: absolute;
	padding: 3px;
	background-color: #fff;
	width: 500px;
	height: 50px;
	/* THE DIMENSIONS OF THE THUMB CONTAINER */
	margin-top: -50px;
}
.fullwidthbanner-container .tp-thumbs {
	padding: 3px;
}
.tp-bullets.tp-thumbs .tp-mask {
	width: 500px;
	height: 50px;
	/* THE DIMENSIONS OF THE THUMB CONTAINER */
	overflow: hidden;
	position: relative;
}
.tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
	width: 5000px;
	position: absolute;
}
.tp-bullets.tp-thumbs .bullet {
	width: 100px;
	height: 50px;
	/* THE DIMENSION OF A SINGLE THUMB */
	cursor: pointer;
	overflow: hidden;
	background: none;
	margin: 0;
	float: left;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/*filter: alpha(opacity=50);	*/
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
}
.tp-bullets.tp-thumbs .bullet:hover, .tp-bullets.tp-thumbs .bullet.selected {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.tp-thumbs img {
	width: 100%;
}
/************************************
		-	TP BANNER TIMER		-
*************************************/
.tp-bannertimer {
	width: 100%;
	height: 10px;
	position: absolute;
	z-index: 200;

}
.tp-bannertimer.tp-bottom {
	bottom: 0px !important;
	height: 5px;
}

/***************************************
	-	RESPONSIVE SETTINGS 	-
****************************************/


@media only screen and (min-width: 768px) and (max-width: 959px) {;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
.responsive .tp-bullets.tp-thumbs {
	width: 300px !important;
	height: 30px !important;
}
.responsive .tp-bullets.tp-thumbs .tp-mask {
	width: 300px !important;
	height: 30px !important;
}
.responsive .tp-bullets.tp-thumbs .bullet {
	width: 60px !important;
	height: 30px !important;
}
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
.responsive .tp-bullets {
	display: none;
}
.responsive .tparrows {
	display: none;
}
}
/*********************************************

	-	BASIC SETTINGS FOR THE BANNER	-

***********************************************/

.tp-simpleresponsive img {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
.tp-simpleresponsive a {
	text-decoration: none;
}
.tp-simpleresponsive ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.tp-simpleresponsive >ul >li {
	list-stye: none;
	position: absolute;
	visibility: hidden;
}
/*  CAPTION SLIDELINK   **/
.caption.slidelink a div, .tp-caption.slidelink a div {
	width: 10000px;
	height: 10000px;
}
.tp-loader {
	background: url(../images/loader.gif) no-repeat 10px 10px;
	background-color: #fff;
	margin: -22px -22px;
	top: 50%;
	left: 50%;
	z-index: 10000;
	position: absolute;
	width: 44px;
	height: 44px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
