{% extends "base.html" %}
{% block sub-title %}
one stop solution for home decoration,offer wooden door, bathroom furniture
{% end %}

{% block content %}

<!--banner-->
<div class="fullwidthbanner-container">
    <div class="fullwidthbanner tp-simpleresponsive  hovered" style="height:555px;">
        <ul>

            <li data-transition="fade" data-slotamount="15" data-masterspeed="300">
                <a target="_blank" href="/"><img src="{{ static_url('images/201611101416193925.jpg') }}" alt="GOLDEA PROJECT" /></a>
            </li>

            <li data-transition="fade" data-slotamount="15" data-masterspeed="300">
                <a target="_blank" href="http://www.goldea.com/bathroom-furniture.html"><img src="{{ static_url('images/201608171729529528.jpg') }}" alt="GOLDEA" /></a>
            </li>

            <li data-transition="fade" data-slotamount="15" data-masterspeed="300">
                <a target="_blank" href="http://www.goldea.com/interior-Door.html"><img src="{{ static_url('images/201607161518317421.jpg') }}" alt="Goldea wooden door" /></a>
            </li>
        </ul>
    </div>
</div>
<div class="blank30"></div>
<!--banner  end-->
<!--tu fanz start-->
<div class="w1100">
    <ul class="ul_05">
        <li><a target="_blank" href="http://www.goldea.com/Support.html"><img src="{{ static_url('images/lc1.jpg') }}" width="153" height="185" /></a></li>
        <li><a target="_blank" href="/about_us/"><img src="{{ static_url('images/lc2.jpg') }}" width="153" height="185" /></a></li>
        <li><a target="_blank" href="http://www.goldea.com/Support-international-design.html"><img src="{{ static_url('images/lc3.jpg') }}" width="153" height="185" /></a></li>
        <li><a target="_blank" href="http://www.goldea.com/Support.html"><img src="{{ static_url('images/lc4.jpg') }}" width="153" height="185" /></a></li>
        <li><a target="_blank" href="http://www.goldea.com/Support.html"><img src="{{ static_url('images/lc5.jpg') }}" width="153" height="185" /></a></li>
        <li><a target="_blank" href="http://www.goldea.com/Support-solution-for-decor.html"><img src="{{ static_url('images/lc6.jpg') }}" width="153" height="185" /></a></li>
        <li class="lastbor"><a target="_blank" href="http://www.goldea.com/ContactUs.html"><img src="{{ static_url('images/lc7.jpg') }}" width="153" height="185" /></a></li>
    </ul>
</div>
<div class="blank60"></div>
<!--tu fanz start-->
<!--PRODUCT CATEGORY start-->
<div class="w1100">
    <div class="title">
        <h1><b>PRODUCT CATEGORY</b></h1>
    </div>
    <ul class="ul_01">

        <li><a href="http://www.goldea.com/Products_show-108-52-1.html"><img src="{{ static_url('images/201604111114107375.jpg') }}" width="223" height="194" /></a> <a href="http://www.goldea.com/Products_show-108-52-1.html">Door</a></li>

        <li><a href="http://www.goldea.com/Products_show-305-8-1.html"><img src="{{ static_url('images/201604111115326481.jpg') }}" width="223" height="194" /></a> <a href="http://www.goldea.com/Products_show-305-8-1.html">Bathroom Furniture</a></li>

        <li><a href="http://www.goldea.com/Products_show-11-28-1.html"><img src="{{ static_url('images/201604111116179467.jpg') }}" width="223" height="194" /></a> <a href="http://www.goldea.com/Products_show-11-28-1.html">Flooring</a></li>

        <li class="lastbor"><a href="http://www.goldea.com/Products_show-5084-34-1.html"><img src="{{ static_url('images/201604111117170231.jpg') }}" width="223" height="194" /></a> <a href="http://www.goldea.com/Products_show-5084-34-1.html">Wardrobe</a></li>


    </ul>
</div>
<div class="blank60"></div>
<!--PRODUCT CATEGORY end-->
<!--snm start-->
<div id="div_door" class="w1100">
    <div class="title">
        <h1><b>MAIN PRODUCTS---Interior door</b></h1>
    </div>
    <div class="snm">
        <div class="snm_fl"> <a href="http://www.goldea.com/Products_show-5864-40-1.html" id="doorHref1"><img src="{{ static_url('images/201610241317497465.jpg') }}" id="image1_door" width="253" height="220" /></a>
            <div class="kuang">
                <p><span style="color:#444444;font-family:Arial;font-size:14px;line-height:30px;">Excellence in design, unique super silence function and European design will offer you warm and perfect home furnishing spaces.</span></p>
                <div class="more"><a href="AboutUs.html">About Us</a></div>
            </div>
        </div>
        <div class="snm_middle"> <a href="http://www.goldea.com/Products_show-5850-42-1.html" id="doorHref"><img src="{{ static_url('images/201610241317441585.jpg') }}" id="image_door" width="520" height="452" /></a> </div>
        <div class="snm_fr"> <a href="http://www.goldea.com/Products_show-5852-42-1.html" id="doorHref2"><img src="{{ static_url('images/201610241317588365.jpg') }}" id="image2_door" width="253" height="220" /></a> <a href="http://www.goldea.com/Products_show-5847-40-1.html" id="doorHref3"><img src="/upload/201610/24/201610241318034567.jpg" id="image3_door" width="253" height="220" /></a> </div>
    </div>
</div>
<div class="blank60"></div>
<!--snm end-->
<!--std start-->
<div id="div_img" class="w1100">
    <div class="title">
        <h1><b>ONE-STOP SOLUTION</b></h1>
    </div>

    <div class="snm">

        <div class="snm_fl"> <a href="/" id="jsHref1"><img src="{{ static_url('images/201609060859326893.jpg') }}" id="image1_js" width="253" height="220" /></a> <a href="http://www.goldea.com/" id="jsHref2"><img src="/upload/201609/06/201609060859352850.jpg" id="image2_js" width="253" height="220" /></a> </div>
        <div class="snm_middle"> <a href="/" id="jsHref"><img src="{{ static_url('images/201609060859293132.jpg') }}" id="image_js" width="520" height="452" /></a> </div>
        <div class="snm_fr"> <a href="/" id="jsHref3"><img src="{{ static_url('images/201609060859370311.jpg') }}" id="image3_js" width="253" height="220" /></a>
            <div class="kuang">
                <p><span style="color:#444444;font-family:Arial;font-size:14px;line-height:30px;">Goldea is dedicating to create "one-stop" solution for builder and provide with a full range of wood panel products for customers.</span></p>
                <div class="more"><a href="AboutUs.html">About Us</a></div>
            </div>
        </div>
    </div>
</div>

<div class="blank60"></div>
<!--std end-->
<!--gcal start-->
<div class="w1100">
    <div class="title">
        <h1><b>PROJECT CASES</b></h1>
    </div>
    <ul class="ul_02">


        <li><a href="international-projects.html#National Projects"><img src="{{ static_url('images/201610071056122420.jpg') }}" width="355" height="245" /></a> </li>

        <li><a href="international-projects.html#Internation Projects"><img src="{{ static_url('images/201610071056467640.jpg') }}" width="355" height="245" /></a> </li>

        <li class="lastbor"><a href="international-projects.html#Domesic Projects"><img src="{{ static_url('images/201610071057024849.jpg') }}" width="355" height="245" /></a> </li>

    </ul>
</div>
<div class="blank30"></div>
<!--gcal end-->
<!--news start-->
<div class="w1100">
    <div class="list">
        <!--  left-->
        <div class="list_fl">
            <div class="title2">
                <h2><b>
                    GOLDEA AND INDUSTRY NEWS</b></h2>
            </div>
            <ul class="ul_07">

                <li><a href="News_show-5940-201-1.html">United States Elections V.S. US-China Trade</a></li>

                <li><a href="News_show-5874-201-1.html">Your Best Partner – Goldea</a></li>

                <li><a href="News_show-5856-201-1.html">120th Autumn Canton Fair- Brilliant Goldea</a></li>

                <li><a href="News_show-5770-201-1.html">120th Canton fair 2016 Autumn China Import and Export Fair</a></li>

            </ul>
        </div>
        <!--  left-->
        <!--  right-->
        <div class="list_fr">
            <div class="title2">
                <h2><b>PRODUCTS NEWS</b></h2>
            </div>
            <ul class="ul_07">

                <li><a href="News_show-5939-202-1.html">Composite Wooden Door- Good Performance</a></li>

                <li><a href="News_show-5938-202-1.html">Wooden Door Brand- How to Value</a></li>

                <li><a href="News_show-5937-202-1.html">Choose The Most Satisfactory Door-6</a></li>

                <li><a href="News_show-5910-202-1.html">Composite Wooden Door- the Unique Charm of Door</a></li>

            </ul>
        </div>
        <!--  right-->
    </div>
</div>
<div class="blank30"></div>
<!--news end-->
<!--other start-->
<div class="other">
    <div class="other_fl">
        <div class="mk"><a href="http://www.goldea.com/support.html"><img src="{{ static_url('images/png1.png') }}" width="100" height="65" /></a> <a href="http://www.goldea.com/support.html">SUPPORT</a></div>
        <ul class="ul_03">
            <li>What support we have?</li>
            <li>Installation guide, Design</li>
            <li>Package information, Training</li>
            <li>FAQ, Service and more…</li>
        </ul>
    </div>
    <div class="other_fl">
        <div class="mk"><a href="http://blog.goldea.com/"><img src="{{ static_url('images/png2.png') }}" width="100" height="65" /></a> <a href="http://blog.goldea.com/">DOOR K-LOG</a></div>
        <ul class="ul_03">
            <li>Overall knowledge for door</li>
            <li>How was a door born?</li>
            <li>How to design the door?</li>
            <li>How to routine maintenance?</li>
        </ul>
    </div>
    <div class="other_fr">
        <div class="mk2"><a href="http://bh.goldea.com/"><img src="{{ static_url('images/png3.png') }}" width="100" height="65" /></a> <a href="http://bh.goldea.com/">FURNITURE K-LOG</a></div>
        <ul class="ul_03">
            <li>Overall knowledge for furniture</li>
            <li>Bathroom cabinet technological</li>
            <li>How to choose the cabinets?</li>
            <li>The ergonomic of Bathroom cabinet</li>
        </ul>
    </div>
</div>
<div class="blank30"></div>
<!--other end-->
{% end %}


