{% extends "base.html" %}
{% block sub-title %}
one stop solution for home decoration,offer wooden door, bathroom furniture
{% end %}

{% block css %}
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
<!--project-->
<link href="{{ static_url('css/project.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ static_url('css/chinaz.css') }}">
{% end %}

{% block js %}
<script src="{{ static_url('js/chinaz.js') }}" type="text/javascript"></script>
<script src="{{ static_url('js/jquery-latest.min.js') }}"></script>
{% end %}

{% block content %}

<div class="blank10"></div>
    <div class="w1100">
	<img src="{{ static_url('images/201610091445266170.jpg') }}" width="1100" height="553" />
</div>
<div class="blank10">
</div>
<div class="w1100">
	<div class="description">
		<h1>
			projects over the world!
		</h1>
<span><b>30</b> years history,<b>280</b> domesic projects,<b>66</b> national projects <br />
More than <b>1080</b> international project.Service <b>9,760,000</b> family. </span>
	</div>
</div>
<div class="blank30"></div>

        <div class="w1100">
  <div class="P_title" id="National Projects">
    <h1><b>National Projects</b></h1>
  </div>
  <ul class="P_01">

        <li ><img src="{{ static_url('images/201610141540201884.jpg') }}" width="325" height="228" /><span>"Pearl of Africa" Social Housing</span></li>

        <li ><img src="{{ static_url('images/201610141546570849.jpg') }}" width="325" height="228" /><span>Olympic Center for G20 meeting</span></li>

        <li class="lastbor"><img src="{{ static_url('images/201610141602311205.jpg') }}" width="325" height="228" /><span>Ivory Coast Culture Palace Update</span></li>

  </ul>
  <div class="blank10"></div>
  <div class="P_more"><a href="project_show-215-1.html" target="_blank">More</a></div>
</div>
<div class="blank30"></div>

        <div class="w1100">
  <div class="P_title" id="Internation Projects">
    <h1><b>Internation Projects</b></h1>
  </div>
  <ul class="P_01">

        <li ><img src="{{ static_url('images/201610141612597997.jpg') }}" width="325" height="228" /><span>USA Florida villa project</span></li>

        <li ><img src="{{ static_url('images/201610171308058584.jpg') }}" width="325" height="228" /><span>USA Las Vegas villa project</span></li>

        <li class="lastbor"><img src="{{ static_url('images/201610171255478174.jpg') }}" width="325" height="228" /><span>USA Florida villa project</span></li>

  </ul>
  <div class="blank10"></div>
  <div class="P_more"><a href="project_show-216-1.html" target="_blank">More</a></div>
</div>
<div class="blank30"></div>

        <div class="w1100">
  <div class="P_title" id="Domesic Projects">
    <h1><b>Domesic Projects</b></h1>
  </div>
  <ul class="P_01">

        <li ><img src="{{ static_url('images/201610240842564125.jpg') }}" width="325" height="228" /><span>Beijing Huayin door project</span></li>

        <li ><img src="{{ static_url('images/201610240853228466.jpg') }}" width="325" height="228" /><span>Guangzhou Country Garden door project</span></li>

        <li class="lastbor"><img src="{{ static_url('images/201610240953310999.jpg') }}" width="325" height="228" /><span>Hangzhou Green Town project</span></li>

  </ul>
  <div class="blank10"></div>
  <div class="P_more"><a href="project_show-217-1.html" target="_blank">More</a></div>
</div>
<div class="blank30"></div>

<div class="w1100">
  <div class="P_title2">
    <h1><b>Why Goldea can undertake big projects</b></h1>
  </div>
  <ul class="quan">

         <li><a href="big-projects-service.html#Customized design"><img src="{{ static_url('images/201610071331482341.png') }}" width="196" height="196" /></a></li>

         <li><a href="big-projects-service.html#Product superiority"><img src="{{ static_url('images/201610071332198509.png') }}" width="196" height="196" /></a></li>

         <li><a href="big-projects-service.html#Intimate service"><img src="{{ static_url('images/201610071332504062.png') }}" width="196" height="196" /></a></li>

  </ul>
</div>
<div class="blank60"></div>
<div class="w1100">
  <div class="P_title2">
    <h1><b>Where find us</b></h1>
  </div>
  <ul class="Flag">

     <li><img src="{{ static_url('images/1.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/3.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/4.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/5.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/6.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/7.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/8.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/9.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/12.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/2.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/11.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/15.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/17.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/18.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/14.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/13.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/10.jpg') }}" width="112" height="75" /></li>

     <li><img src="{{ static_url('images/16.jpg') }}" width="112" height="75" /></li>

  </ul>
</div>
<div class="blank60"></div>

{% end %}



