{% extends "base.html" %}
{% block content %}
<!--show pic-->
<div class="show_pic">
    <div class="pic">
        <div class="banner_img">
            <img src="{{ static_url('images/banner_content.png') }}">
        </div>
    </div>
</div>
<!--show pic end-->
<div class="com_main">
    <div class="com_pre">
        <div class="main_page">
            <div class="view_text">
                <img src="{{ static_url('images/ledgement.png') }}"><span>&nbsp&nbsp招贤纳士&nbsp&nbsp</span><img src="{{ static_url('images/ledgement.png') }}">
            </div>
            <div class="recruit_pic">
                <img src="{{ static_url('images/recruit.png') }}">
            </div>
            <div class="recruit_word">
                <div class="recruit_word_head">
                    <div class="recruit_word_title">
                        <p>高级软件工程师</p>
                    </div>
                    <div class="recruit_word_uptime">
                        <p>更新时间：2016-09-20</p>
                    </div>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>职位描述:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、智能穿戴产品的人机交互界面设计与开发；</p>
                    <p>2、应客户或市场需求对各种特殊功能进行设计与开发；</p>
                    <p>3、对产品测试出的问题进行修改，以及对产品功能进行改进；</p>
                </div>
                <div class="recruit_pic_job">
                    <div class="recruit_pic_red">
                        <img src="{{ static_url('images/recruit_pic_red.png') }}">
                    </div>
                    <div class="recruit_word_desc">
                        <p>任职要求:</p>
                    </div>
                </div>
                <div class="recruit_word_info">
                    <p>1、男女不限，计算机、电子、通讯等相关专业本科以上；</p>
                    <p>2、熟悉C语言编程，了解嵌入式产品开发；</p>
                    <p>3、具有良好的表达沟通能力及团队合作精神；</p>
                    <p>4、逻辑思维清晰，对问题的分析解决能力强；</p>
                    <p>5、熟悉mtk6260,6261,2502,2503平台软件架构，能做mmi，及framework层的软件开发及客制化工作；</p>
                    <p>6、肯吃苦，有上进心，学习能力强</p>
                </div>
            </div>

        </div>
    </div>
</div>
{% end %}



